<div class="container">
  <div class="row p-1">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row pl-1"><p>Search here....</p></div>
      <div class="row"><ngbd-typeahead-basic class="col-sm-8" [states]="names"></ngbd-typeahead-basic>
      <div class="col-sm-4"><button (click)="getResultOnSearch()"><i class="fa fa-search"></i>Search</button></div></div>
      <hr class="pt-1">
      <div *ngIf="yearFilters.length" style="display: inline-block;">
        <div class="dropdown pr-1" dropdown>
          <a dropdown-open style="font-size: 13px; font-style: italic; cursor: pointer;"> Year &#x25BC; </a>
            <ul class="dropdown-menu">
              <div *ngFor="let filter of yearFilters">
                <li><a (click)="applyFiler(filter, 'year')">  {{filter}}</a></li>
              </div>
            </ul>
        </div>
      </div>
      <div *ngIf="typeFilters.length" style="display: inline-block;">
        <div class="dropdown  pr-1" style="display: inline-block;" dropdown>
          <a dropdown-open style="font-size: 13px; font-style: italic; cursor: pointer;"> docType &#x25BC; </a>
            <ul class="dropdown-menu">
              <div *ngFor="let filter of typeFilters">
                <li><a (click)="applyFiler(filter, 'doctype')">  {{filter}}</a></li>
              </div>
            </ul>
        </div>
      </div>
      <div *ngIf="categoryFilters.length" style="display: inline-block;">
        <div class="dropdown" dropdown>
          <a dropdown-open style="font-size: 13px; font-style: italic; cursor: pointer;"> Category &#x25BC; </a>
            <ul class="dropdown-menu">
              <div *ngFor="let filter of categoryFilters">
                <li><a (click)="applyFiler(filter, 'category')">  {{filter}}</a></li>
              </div>
            </ul>
        </div>
      </div>
      <div class="search-results pt-1"
		    infiniteScroll
        debounce
        infiniteScrollDistance="0"
        infiniteScrollThrottle="10"
		    (scrolled)="getMore()">
        <div class="pt-1">
          <p>Results:</p>
          <table class="table table-hover">
            <thead>
                <tr>
                    <td class="col-sm-3">Name</td>
                    <td class="col-sm-9">Description</td>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of searchList" [routerLink]="['/keyword']" [queryParams]="{ id: item.name }">
                    <td class="col-sm-3">{{item.name}}</td>
                    <td class="col-sm-9"><div [innerHTML]="item.description"></div> </td>
                </tr>
            </tbody>
          </table>
        </div>
		</div>
    </div>
  </div>
</div>
